@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #444;
    width: min(90%, 600px);
    padding: 3em;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container h1 {
    color: #f69f40;
    margin-bottom: 1em;
    font-size: 2em;
}

label {
    display: block;
    color: #ccc;
    margin-bottom: 0.5em;
    text-align: left;
    font-size: 1.1em;
}

input {
    display: block;
    width: 100%;
    padding: 1em 1em;
    border-radius: 5px;
    background-color: #666;
    border: none;
    outline: none;
    color: #fff;
    margin-bottom: 1em;
    font-size: 1em;
}

button {
    background-color: #f69f40;
    color: #fff;
    border: none;
    outline: none;
    padding: 1em 2em;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffbb73;
}

p {
    color: #ccc;
    margin-top: 1em;
    font-size: 1.2em;
}